@charset "UTF-8";
/* Bitters 0.10.0
 * http://bitters.bourbon.io
 * Copyright 2013–2014 thoughtbot, inc.
 * MIT License */
/* line 1, base/extends/_button.scss */
button,
input[type="submit"] {
  -webkit-font-smoothing: antialiased;
  background-color: #DDD;
  border-radius: 3px;
  color: white;
  display: inline-block;
  font-size: 1em;
  font-weight: bold;
  line-height: 1;
  padding: 0.75em 1em;
  text-decoration: none; }
  /* line 13, base/extends/_button.scss */
  button:hover,
  input[type="submit"]:hover {
    background-color: #6a6a6a;
    color: white; }
  /* line 18, base/extends/_button.scss */
  button:disabled,
  input[type="submit"]:disabled {
    cursor: not-allowed;
    opacity: 0.5; }

/* line 1, base/_typography.scss */
body {
  -webkit-font-smoothing: antialiased;
  background-color: white;
  color: #333333;
  font-family: "HelveticaNeue-Medium", "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  font-size: 1em;
  line-height: 1.5; }

/* line 10, base/_typography.scss */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 200;
  font-family: "HelveticaNeue-Medium", "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  line-height: 1.25;
  margin: 0;
  text-rendering: optimizeLegibility; }

/* line 23, base/_typography.scss */
h1 {
  font-size: 2.25em; }

/* line 27, base/_typography.scss */
h2 {
  font-size: 2em; }

/* line 31, base/_typography.scss */
h3 {
  font-size: 1.75em; }

/* line 35, base/_typography.scss */
h4 {
  font-size: 1.5em; }

/* line 39, base/_typography.scss */
h5 {
  font-size: 1.25em; }

/* line 43, base/_typography.scss */
h6 {
  font-size: 1em; }

/* line 47, base/_typography.scss */
p {
  margin: 0 0 0.75em; }

/* line 51, base/_typography.scss */
a {
  -webkit-transition: color 0.1s linear;
  -moz-transition: color 0.1s linear;
  transition: color 0.1s linear;
  color: #DDD;
  text-decoration: none; }
  /* line 56, base/_typography.scss */
  a:hover {
    color: #6a6a6a; }
  /* line 60, base/_typography.scss */
  a:active, a:focus {
    color: #6a6a6a;
    outline: none; }

/* line 66, base/_typography.scss */
hr {
  border-bottom: 1px solid #DDD;
  border-left: none;
  border-right: none;
  border-top: none;
  margin: 1.5em 0; }

/* line 74, base/_typography.scss */
img,
picture {
  margin: 0;
  max-width: 100%; }

/* line 80, base/_typography.scss */
blockquote {
  border-left: 2px solid #DDD;
  color: #595959;
  margin: 1.5em 0;
  padding-left: 0.75em; }

/* line 87, base/_typography.scss */
cite {
  color: #737373;
  font-style: italic; }
  /* line 91, base/_typography.scss */
  cite:before {
    content: "\2014 \00A0"; }

/* line 1, base/_forms.scss */
fieldset {
  background: #f7f7f7;
  border: 1px solid #DDD;
  margin: 0 0 0.75em 0;
  padding: 1.5em; }

/* line 8, base/_forms.scss */
input,
label,
select {
  display: block;
  font-family: "HelveticaNeue-Medium", "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  font-size: 1em; }

/* line 16, base/_forms.scss */
label {
  font-weight: bold;
  margin-bottom: 0.375em; }
  /* line 20, base/_forms.scss */
  label.required:after {
    content: "*"; }
  /* line 24, base/_forms.scss */
  label abbr {
    display: none; }

/* line 29, base/_forms.scss */
textarea,
input[type="email"], input[type="number"], input[type="password"], input[type="search"], input[type="tel"], input[type="text"], input[type="url"], input[type="color"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="month"], input[type="time"], input[type="week"],
select[multiple=multiple] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: border-color;
  -moz-transition: border-color;
  transition: border-color;
  background-color: white;
  border-radius: 3px;
  border: 1px solid #DDD;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06);
  font-family: "HelveticaNeue-Medium", "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  font-size: 1em;
  margin-bottom: 0.75em;
  padding: 0.5em 0.5em;
  width: 100%; }
  /* line 44, base/_forms.scss */
  textarea:hover,
  input[type="email"]:hover, input[type="number"]:hover, input[type="password"]:hover, input[type="search"]:hover, input[type="tel"]:hover, input[type="text"]:hover, input[type="url"]:hover, input[type="color"]:hover, input[type="date"]:hover, input[type="datetime"]:hover, input[type="datetime-local"]:hover, input[type="month"]:hover, input[type="time"]:hover, input[type="week"]:hover,
  select[multiple=multiple]:hover {
    border-color: #c4c4c4; }
  /* line 48, base/_forms.scss */
  textarea:focus,
  input[type="email"]:focus, input[type="number"]:focus, input[type="password"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="text"]:focus, input[type="url"]:focus, input[type="color"]:focus, input[type="date"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="month"]:focus, input[type="time"]:focus, input[type="week"]:focus,
  select[multiple=multiple]:focus {
    border-color: #DDD;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06), 0 0 5px rgba(208, 208, 208, 0.7);
    outline: none; }

/* line 55, base/_forms.scss */
textarea {
  resize: vertical; }

/* line 59, base/_forms.scss */
input[type="search"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none; }

/* line 63, base/_forms.scss */
input[type="checkbox"],
input[type="radio"] {
  display: inline;
  margin-right: 0.375em; }

/* line 69, base/_forms.scss */
input[type="file"] {
  padding-bottom: 0.75em;
  width: 100%; }

/* line 74, base/_forms.scss */
select {
  margin-bottom: 1.5em;
  max-width: 100%;
  width: auto; }

/* line 1, base/_tables.scss */
table {
  border-collapse: collapse;
  margin: 0.75em 0;
  table-layout: fixed;
  width: 100%; }

/* line 8, base/_tables.scss */
th {
  border-bottom: 1px solid #b7b7b7;
  font-weight: bold;
  padding: 0.75em 0;
  text-align: left; }

/* line 15, base/_tables.scss */
td {
  border-bottom: 1px solid #DDD;
  padding: 0.75em 0; }

/* line 20, base/_tables.scss */
tr,
td,
th {
  vertical-align: middle; }

/* line 1, base/_lists.scss */
ul,
ol {
  margin: 0;
  padding: 0;
  list-style-type: none; }
/* line 20, base/_lists.scss */
dl {
  margin-bottom: 0.75em; }
  /* line 23, base/_lists.scss */
  dl dt {
    font-weight: bold;
    margin-top: 0.75em; }
  /* line 28, base/_lists.scss */
  dl dd {
    margin: 0; }

/* line 1, base/_buttons.scss */
button,
input[type="submit"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  border: none;
  cursor: pointer;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap; }

/* Neat 1.7.0
 * http://neat.bourbon.io
 * Copyright 2012-2014 thoughtbot, inc.
 * MIT License */
/* line 2, ../../../../../.rbenv/versions/2.1.5/lib/ruby/gems/2.1.0/gems/neat-1.7.0/app/assets/stylesheets/grid/_box-sizing.scss */
html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

/* line 7, ../../../../../.rbenv/versions/2.1.5/lib/ruby/gems/2.1.0/gems/neat-1.7.0/app/assets/stylesheets/grid/_box-sizing.scss */
*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit; }

/* line 1, partials/_layout.scss */
.profile-wrap {
  max-width: 31.25em;
  margin-left: auto;
  margin-right: auto;
  padding-top: 1.5em; }
  /* line 15, ../../../../../.rbenv/versions/2.1.5/lib/ruby/gems/2.1.0/gems/bourbon-4.0.2/app/assets/stylesheets/addons/_clearfix.scss */
  .profile-wrap:after {
    content: "";
    display: table;
    clear: both; }
  /* line 6, partials/_layout.scss */
  .profile-wrap .profile-pic {
    float: left;
    display: block;
    margin-right: 0%;
    width: 16.66667%; }
    /* line 85, ../../../../../.rbenv/versions/2.1.5/lib/ruby/gems/2.1.0/gems/neat-1.7.0/app/assets/stylesheets/grid/_span-columns.scss */
    .profile-wrap .profile-pic:last-child {
      margin-right: 0; }
    @media screen and (max-width: 500px) {
      /* line 6, partials/_layout.scss */
      .profile-wrap .profile-pic {
        float: left;
        display: block;
        margin-right: 0%;
        width: 100%; }
        /* line 85, ../../../../../.rbenv/versions/2.1.5/lib/ruby/gems/2.1.0/gems/neat-1.7.0/app/assets/stylesheets/grid/_span-columns.scss */
        .profile-wrap .profile-pic:last-child {
          margin-right: 0; } }
    /* line 12, partials/_layout.scss */
    .profile-wrap .profile-pic img {
      display: block;
      border-radius: 50%;
      margin: 0 auto;
      max-height: 5em; }
  /* line 20, partials/_layout.scss */
  .profile-wrap .profile-intro {
    float: left;
    display: block;
    margin-right: 0%;
    width: 66.66667%; }
    /* line 85, ../../../../../.rbenv/versions/2.1.5/lib/ruby/gems/2.1.0/gems/neat-1.7.0/app/assets/stylesheets/grid/_span-columns.scss */
    .profile-wrap .profile-intro:last-child {
      margin-right: 0; }
    @media screen and (max-width: 500px) {
      /* line 20, partials/_layout.scss */
      .profile-wrap .profile-intro {
        float: left;
        display: block;
        margin-right: 0%;
        width: 75%;
        padding: 2em 0; }
        /* line 85, ../../../../../.rbenv/versions/2.1.5/lib/ruby/gems/2.1.0/gems/neat-1.7.0/app/assets/stylesheets/grid/_span-columns.scss */
        .profile-wrap .profile-intro:last-child {
          margin-right: 0; } }
    /* line 27, partials/_layout.scss */
    .profile-wrap .profile-intro .wrap {
      padding: 0 1.5em; }
      /* line 29, partials/_layout.scss */
      .profile-wrap .profile-intro .wrap .text-wrap {
        padding: 0 0.5em;
        text-align: left;
        font-family: "HelveticaNeue-Medium", "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
        border-left: 1px solid #DDD; }
        /* line 34, partials/_layout.scss */
        .profile-wrap .profile-intro .wrap .text-wrap .subtitle {
          color: #4A4A4A;
          font-family: "HelveticaNeue-Light", "HelveticaNeue-Medium", "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
          font-size: 0.9em; }
  /* line 43, partials/_layout.scss */
  .profile-wrap .iphone-side-images {
    float: left;
    display: block;
    margin-right: 0%;
    width: 16.66667%;
    margin-top: -2em;
    padding-right: 1em; }
    /* line 85, ../../../../../.rbenv/versions/2.1.5/lib/ruby/gems/2.1.0/gems/neat-1.7.0/app/assets/stylesheets/grid/_span-columns.scss */
    .profile-wrap .iphone-side-images:last-child {
      margin-right: 0; }
    @media screen and (max-width: 500px) {
      /* line 43, partials/_layout.scss */
      .profile-wrap .iphone-side-images {
        float: left;
        display: block;
        margin-right: 0%;
        width: 25%; }
        /* line 85, ../../../../../.rbenv/versions/2.1.5/lib/ruby/gems/2.1.0/gems/neat-1.7.0/app/assets/stylesheets/grid/_span-columns.scss */
        .profile-wrap .iphone-side-images:last-child {
          margin-right: 0; } }
    /* line 52, partials/_layout.scss */
    .profile-wrap .iphone-side-images img {
      float: left;
      height: 20em; }

/* line 59, partials/_layout.scss */
body {
  margin: 0;
  font-size: large; }

@media (max-width: 1000px) {
  /* line 65, partials/_layout.scss */
  body {
    font-size: 100%; } }
@media (max-width: 500px) {
  /* line 69, partials/_layout.scss */
  body {
    font-size: 100%; } }
/* line 1, partials/_nav.scss */
nav {
  max-width: 31.25em;
  margin-left: auto;
  margin-right: auto;
  padding: 1rem 1rem 0 1rem; }
  /* line 15, ../../../../../.rbenv/versions/2.1.5/lib/ruby/gems/2.1.0/gems/bourbon-4.0.2/app/assets/stylesheets/addons/_clearfix.scss */
  nav:after {
    content: "";
    display: table;
    clear: both; }
  /* line 5, partials/_nav.scss */
  nav .logo {
    -webkit-transition: background-color 0.1s linear;
    -moz-transition: background-color 0.1s linear;
    transition: background-color 0.1s linear;
    -webkit-transition: color 0.1s linear;
    -moz-transition: color 0.1s linear;
    transition: color 0.1s linear;
    display: inline-block;
    margin: 0.5rem 0.5rem;
    border: 1px solid #6a6a6a;
    border-radius: 50%;
    text-align: center;
    line-height: 2.2em;
    color: #6a6a6a;
    text-align: center;
    height: 2.5em;
    width: 2.5em; }
    /* line 20, partials/_nav.scss */
    nav .logo:hover {
      background-color: #6a6a6a;
      color: white; }
  /* line 26, partials/_nav.scss */
  nav ul {
    display: inline-block;
    margin: 0.5rem 0 0.5rem 0;
    padding-bottom: 0.5rem;
    border-bottom: 1px solid #DDD; }
    /* line 32, partials/_nav.scss */
    nav ul a.current-nav-tab {
      color: #6a6a6a; }
    /* line 36, partials/_nav.scss */
    nav ul a {
      padding: 1rem;
      font-size: 1em;
      text-transform: uppercase; }

/* line 1, partials/_device.scss */
.case-study-summary {
  max-width: 31.25em;
  margin-left: auto;
  margin-right: auto;
  margin-top: 3em;
  margin-bottom: 3em; }
  /* line 15, ../../../../../.rbenv/versions/2.1.5/lib/ruby/gems/2.1.0/gems/bourbon-4.0.2/app/assets/stylesheets/addons/_clearfix.scss */
  .case-study-summary:after {
    content: "";
    display: table;
    clear: both; }
  @media screen and (max-width: 500px) {
    /* line 1, partials/_device.scss */
    .case-study-summary {
      display: flex;
      flex-flow: column; }
      /* line 34, partials/_device.scss */
      .case-study-summary .device-text-align-right {
        order: 1; }
      /* line 35, partials/_device.scss */
      .case-study-summary .device-text-align-left, .case-study-summary .device-text-align-right {
        order: 1; }
      /* line 36, partials/_device.scss */
      .case-study-summary .device-wrap {
        order: 2; } }
  /* line 41, partials/_device.scss */
  .case-study-summary .background, .case-study-summary .background-mesvaccins, .case-study-summary .background-buddybounce {
    background-color: #333333;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    height: 20em;
    left: 0;
    right: 0;
    z-index: -1; }
  /* line 52, partials/_device.scss */
  .case-study-summary .background-mesvaccins {
    background-image: none; }
  /* line 57, partials/_device.scss */
  .case-study-summary .background-buddybounce {
    background-image: url("/assets/buddybounce-background.jpg");
    background-image: url("/assets/buddybounce-background.jpg"); }
  /* line 62, partials/_device.scss */
  .case-study-summary .device-text-align-left, .case-study-summary .device-text-align-right {
    color: white;
    padding: 1.5em;
    display: block;
    margin-bottom: 1em; }
    @media screen and (max-width: 500px) {
      /* line 62, partials/_device.scss */
      .case-study-summary .device-text-align-left, .case-study-summary .device-text-align-right {
        float: left;
        display: block;
        margin-right: 0%;
        width: 100%;
        -webkit-box-ordinal-group: 1;
        -moz-box-ordinal-group: 1;
        box-ordinal-group: 1;
        -webkit-order: 1;
        -moz-order: 1;
        order: 1;
        -ms-flex-order: 1; }
        /* line 85, ../../../../../.rbenv/versions/2.1.5/lib/ruby/gems/2.1.0/gems/neat-1.7.0/app/assets/stylesheets/grid/_span-columns.scss */
        .case-study-summary .device-text-align-left:last-child, .case-study-summary .device-text-align-right:last-child {
          margin-right: 0; } }
    @media screen and (min-width: 500px) {
      /* line 62, partials/_device.scss */
      .case-study-summary .device-text-align-left, .case-study-summary .device-text-align-right {
        float: left;
        display: block;
        margin-right: 0%;
        width: 50%; }
        /* line 85, ../../../../../.rbenv/versions/2.1.5/lib/ruby/gems/2.1.0/gems/neat-1.7.0/app/assets/stylesheets/grid/_span-columns.scss */
        .case-study-summary .device-text-align-left:last-child, .case-study-summary .device-text-align-right:last-child {
          margin-right: 0; } }
    @media screen and (min-width: 53.75em) {
      /* line 62, partials/_device.scss */
      .case-study-summary .device-text-align-left, .case-study-summary .device-text-align-right {
        float: left;
        display: block;
        margin-right: 0%;
        width: 50%; }
        /* line 85, ../../../../../.rbenv/versions/2.1.5/lib/ruby/gems/2.1.0/gems/neat-1.7.0/app/assets/stylesheets/grid/_span-columns.scss */
        .case-study-summary .device-text-align-left:last-child, .case-study-summary .device-text-align-right:last-child {
          margin-right: 0; } }
    /* line 78, partials/_device.scss */
    .case-study-summary .device-text-align-left h5, .case-study-summary .device-text-align-right h5 {
      border-bottom: 1px solid rgba(255, 255, 255, 0.3);
      margin-bottom: 0.5em;
      padding-bottom: 0.5em;
      text-align: center; }
      @media screen and (min-width: 500px) {
        /* line 78, partials/_device.scss */
        .case-study-summary .device-text-align-left h5, .case-study-summary .device-text-align-right h5 {
          text-align: left; } }
    /* line 88, partials/_device.scss */
    .case-study-summary .device-text-align-left p, .case-study-summary .device-text-align-right p {
      font-size: 0.9em;
      margin-bottom: 1.5em;
      text-align: center; }
      @media screen and (min-width: 500px) {
        /* line 88, partials/_device.scss */
        .case-study-summary .device-text-align-left p, .case-study-summary .device-text-align-right p {
          text-align: left; } }
    /* line 98, partials/_device.scss */
    .case-study-summary .device-text-align-left a, .case-study-summary .device-text-align-right a {
      -webkit-transition: background-color 0.1s linear;
      -moz-transition: background-color 0.1s linear;
      transition: background-color 0.1s linear;
      -webkit-transition: color 0.1s linear;
      -moz-transition: color 0.1s linear;
      transition: color 0.1s linear;
      display: block;
      padding: 0.2em 0.2em 0.3em 0.2em;
      border: 2px solid white;
      color: white;
      border-radius: 100px;
      width: 6em;
      margin: 0 auto;
      text-align: center; }
      @media screen and (min-width: 500px) {
        /* line 98, partials/_device.scss */
        .case-study-summary .device-text-align-left a, .case-study-summary .device-text-align-right a {
          margin: 0; } }
      /* line 114, partials/_device.scss */
      .case-study-summary .device-text-align-left a:hover, .case-study-summary .device-text-align-right a:hover {
        background-color: rgba(255, 255, 255, 0.6);
        color: #333333; }
  @media screen and (min-width: 500px) {
    /* line 123, partials/_device.scss */
    .case-study-summary .device-text-align-right h5 {
      text-align: right; } }
  @media screen and (min-width: 500px) {
    /* line 128, partials/_device.scss */
    .case-study-summary .device-text-align-right p {
      text-align: right; } }
  @media screen and (min-width: 500px) {
    /* line 133, partials/_device.scss */
    .case-study-summary .device-text-align-right a {
      float: right;
      margin: 0; } }
  @media screen and (max-width: 500px) {
    /* line 141, partials/_device.scss */
    .case-study-summary .device-wrap {
      float: left;
      display: block;
      margin-right: 0%;
      width: 100%; }
      /* line 85, ../../../../../.rbenv/versions/2.1.5/lib/ruby/gems/2.1.0/gems/neat-1.7.0/app/assets/stylesheets/grid/_span-columns.scss */
      .case-study-summary .device-wrap:last-child {
        margin-right: 0; } }
  @media screen and (min-width: 500px) {
    /* line 141, partials/_device.scss */
    .case-study-summary .device-wrap {
      float: left;
      display: block;
      margin-right: 0%;
      width: 50%; }
      /* line 85, ../../../../../.rbenv/versions/2.1.5/lib/ruby/gems/2.1.0/gems/neat-1.7.0/app/assets/stylesheets/grid/_span-columns.scss */
      .case-study-summary .device-wrap:last-child {
        margin-right: 0; } }
  @media screen and (min-width: 53.75em) {
    /* line 141, partials/_device.scss */
    .case-study-summary .device-wrap {
      float: left;
      display: block;
      margin-right: 0%;
      width: 50%; }
      /* line 85, ../../../../../.rbenv/versions/2.1.5/lib/ruby/gems/2.1.0/gems/neat-1.7.0/app/assets/stylesheets/grid/_span-columns.scss */
      .case-study-summary .device-wrap:last-child {
        margin-right: 0; } }
  /* line 152, partials/_device.scss */
  .case-study-summary .device-wrap .device-align-right, .case-study-summary .device-wrap .device-align-left {
    background: #DDD;
    border-radius: 1em;
    display: block;
    padding: 2.8em 0;
    width: 10.8em;
    margin: 0 auto;
    box-shadow: 0px 3px 3px 0px #aaaaaa; }
    @media screen and (min-width: 500px) {
      /* line 152, partials/_device.scss */
      .case-study-summary .device-wrap .device-align-right, .case-study-summary .device-wrap .device-align-left {
        margin: -2em 0 0 0;
        float: right; } }
  @media screen and (min-width: 500px) {
    /* line 166, partials/_device.scss */
    .case-study-summary .device-wrap .device-align-left {
      margin: -2em 0 0 0;
      float: left; } }
  /* line 175, partials/_device.scss */
  .case-study-summary .screen, .case-study-summary .screen-mesvaccins, .case-study-summary .screen-buddybounce {
    height: 17.73438em;
    width: 10em;
    background-size: cover;
    border: 1px solid #DDD;
    margin: auto; }
  /* line 182, partials/_device.scss */
  .case-study-summary .screen-mesvaccins {
    background-image: url("/assets/mesvaccins-screenshot.png"); }
  /* line 187, partials/_device.scss */
  .case-study-summary .screen-buddybounce {
    background-image: url("/assets/discover-screenshot.png"); }

/* line 3, partials/_work.scss */
.work-intro {
  max-width: 31.25em;
  margin-left: auto;
  margin-right: auto;
  margin: 1em auto; }
  /* line 15, ../../../../../.rbenv/versions/2.1.5/lib/ruby/gems/2.1.0/gems/bourbon-4.0.2/app/assets/stylesheets/addons/_clearfix.scss */
  .work-intro:after {
    content: "";
    display: table;
    clear: both; }
  /* line 7, partials/_work.scss */
  .work-intro .wrap {
    padding: 0 1.5em; }
    /* line 10, partials/_work.scss */
    .work-intro .wrap .text-wrap {
      padding: 0 0.5em;
      text-align: left;
      border-left: 1px solid #DDD; }
      /* line 15, partials/_work.scss */
      .work-intro .wrap .text-wrap .title {
        font-family: "HelveticaNeue-Medium", "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif; }
      /* line 19, partials/_work.scss */
      .work-intro .wrap .text-wrap .subtitle {
        color: #4A4A4A;
        font-family: "HelveticaNeue-Light", "HelveticaNeue-Medium", "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
        font-size: 0.9em; }
