@charset "UTF-8";
/* Bitters 0.10.0
 * http://bitters.bourbon.io
 * Copyright 2013–2014 thoughtbot, inc.
 * MIT License */
/* line 1, base/extends/_button.scss */
button,
input[type="submit"] {
  -webkit-font-smoothing: antialiased;
  background-color: #DDD;
  border-radius: 3px;
  color: white;
  display: inline-block;
  font-size: 1em;
  font-weight: bold;
  line-height: 1;
  padding: 0.75em 1em;
  text-decoration: none; }
  /* line 13, base/extends/_button.scss */
  button:hover,
  input[type="submit"]:hover {
    background-color: #6a6a6a;
    color: white; }
  /* line 18, base/extends/_button.scss */
  button:disabled,
  input[type="submit"]:disabled {
    cursor: not-allowed;
    opacity: 0.5; }

/* line 1, base/_typography.scss */
body {
  -webkit-font-smoothing: antialiased;
  background-color: white;
  color: #333333;
  font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  font-size: 1em;
  line-height: 1.5; }

/* line 10, base/_typography.scss */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 200;
  font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  line-height: 1.25;
  margin: 0;
  text-rendering: optimizeLegibility; }

/* line 23, base/_typography.scss */
h1 {
  font-size: 2.25em; }

/* line 27, base/_typography.scss */
h2 {
  font-size: 2em; }

/* line 31, base/_typography.scss */
h3 {
  font-size: 1.75em; }

/* line 35, base/_typography.scss */
h4 {
  font-size: 1.5em; }

/* line 39, base/_typography.scss */
h5 {
  font-size: 1.25em; }

/* line 43, base/_typography.scss */
h6 {
  font-size: 1em; }

/* line 47, base/_typography.scss */
p {
  margin: 0 0 0.375em; }

/* line 51, base/_typography.scss */
a {
  -webkit-transition: color 0.1s linear;
  -moz-transition: color 0.1s linear;
  transition: color 0.1s linear;
  color: #DDD;
  text-decoration: none; }
  /* line 56, base/_typography.scss */
  a:hover {
    color: #6a6a6a; }
  /* line 60, base/_typography.scss */
  a:active, a:focus {
    color: #6a6a6a;
    outline: none; }

/* line 66, base/_typography.scss */
hr {
  border-bottom: 1px solid #DDD;
  border-left: none;
  border-right: none;
  border-top: none;
  margin: 1.5em 0; }

/* line 74, base/_typography.scss */
img,
picture {
  margin: 0;
  max-width: 100%; }

/* line 80, base/_typography.scss */
blockquote {
  border-left: 2px solid #DDD;
  color: #595959;
  margin: 1.5em 0;
  padding-left: 0.75em; }

/* line 87, base/_typography.scss */
cite {
  color: #737373;
  font-style: italic; }
  /* line 91, base/_typography.scss */
  cite:before {
    content: "\2014 \00A0"; }

/* line 1, base/_forms.scss */
fieldset {
  background: #f7f7f7;
  border: 1px solid #DDD;
  margin: 0 0 0.75em 0;
  padding: 1.5em; }

/* line 8, base/_forms.scss */
input,
label,
select {
  display: block;
  font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  font-size: 1em; }

/* line 16, base/_forms.scss */
label {
  font-weight: bold;
  margin-bottom: 0.375em; }
  /* line 20, base/_forms.scss */
  label.required:after {
    content: "*"; }
  /* line 24, base/_forms.scss */
  label abbr {
    display: none; }

/* line 29, base/_forms.scss */
textarea,
input[type="email"], input[type="number"], input[type="password"], input[type="search"], input[type="tel"], input[type="text"], input[type="url"], input[type="color"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="month"], input[type="time"], input[type="week"],
select[multiple=multiple] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: border-color;
  -moz-transition: border-color;
  transition: border-color;
  background-color: white;
  border-radius: 3px;
  border: 1px solid #DDD;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06);
  font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  font-size: 1em;
  margin-bottom: 0.75em;
  padding: 0.5em 0.5em;
  width: 100%; }
  /* line 44, base/_forms.scss */
  textarea:hover,
  input[type="email"]:hover, input[type="number"]:hover, input[type="password"]:hover, input[type="search"]:hover, input[type="tel"]:hover, input[type="text"]:hover, input[type="url"]:hover, input[type="color"]:hover, input[type="date"]:hover, input[type="datetime"]:hover, input[type="datetime-local"]:hover, input[type="month"]:hover, input[type="time"]:hover, input[type="week"]:hover,
  select[multiple=multiple]:hover {
    border-color: #c4c4c4; }
  /* line 48, base/_forms.scss */
  textarea:focus,
  input[type="email"]:focus, input[type="number"]:focus, input[type="password"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="text"]:focus, input[type="url"]:focus, input[type="color"]:focus, input[type="date"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="month"]:focus, input[type="time"]:focus, input[type="week"]:focus,
  select[multiple=multiple]:focus {
    border-color: #DDD;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06), 0 0 5px rgba(208, 208, 208, 0.7);
    outline: none; }

/* line 55, base/_forms.scss */
textarea {
  resize: vertical; }

/* line 59, base/_forms.scss */
input[type="search"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none; }

/* line 63, base/_forms.scss */
input[type="checkbox"],
input[type="radio"] {
  display: inline;
  margin-right: 0.375em; }

/* line 69, base/_forms.scss */
input[type="file"] {
  padding-bottom: 0.75em;
  width: 100%; }

/* line 74, base/_forms.scss */
select {
  margin-bottom: 1.5em;
  max-width: 100%;
  width: auto; }

/* line 1, base/_tables.scss */
table {
  border-collapse: collapse;
  margin: 0.75em 0;
  table-layout: fixed;
  width: 100%; }

/* line 8, base/_tables.scss */
th {
  border-bottom: 1px solid #b7b7b7;
  font-weight: bold;
  padding: 0.75em 0;
  text-align: left; }

/* line 15, base/_tables.scss */
td {
  border-bottom: 1px solid #DDD;
  padding: 0.75em 0; }

/* line 20, base/_tables.scss */
tr,
td,
th {
  vertical-align: middle; }

/* line 1, base/_lists.scss */
ul,
ol {
  margin: 0;
  padding: 0;
  list-style-type: none; }
/* line 20, base/_lists.scss */
dl {
  margin-bottom: 0.75em; }
  /* line 23, base/_lists.scss */
  dl dt {
    font-weight: bold;
    margin-top: 0.75em; }
  /* line 28, base/_lists.scss */
  dl dd {
    margin: 0; }

/* line 1, base/_buttons.scss */
button,
input[type="submit"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  border: none;
  cursor: pointer;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap; }

/* Neat 1.7.0
 * http://neat.bourbon.io
 * Copyright 2012-2014 thoughtbot, inc.
 * MIT License */
/* line 2, ../../../../../.rbenv/versions/2.1.5/lib/ruby/gems/2.1.0/gems/neat-1.7.0/app/assets/stylesheets/grid/_box-sizing.scss */
html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

/* line 7, ../../../../../.rbenv/versions/2.1.5/lib/ruby/gems/2.1.0/gems/neat-1.7.0/app/assets/stylesheets/grid/_box-sizing.scss */
*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit; }

/* line 1, partials/_layout.scss */
body {
  margin: 0; }
  @media screen and (min-width: 500px) {
    /* line 1, partials/_layout.scss */
    body {
      font-size: 18px; } }
  @media screen and (min-width: 53.75em) {
    /* line 1, partials/_layout.scss */
    body {
      font-size: 20px; } }

/* line 1, partials/_nav.scss */
nav {
  max-width: 31.25em;
  margin-left: auto;
  margin-right: auto; }
  /* line 15, ../../../../../.rbenv/versions/2.1.5/lib/ruby/gems/2.1.0/gems/bourbon-4.0.2/app/assets/stylesheets/addons/_clearfix.scss */
  nav:after {
    content: "";
    display: table;
    clear: both; }

/* line 5, partials/_nav.scss */
.nav-logo-wrap {
  margin: 0.5em 0; }
  @media screen and (max-width: 500px) {
    /* line 5, partials/_nav.scss */
    .nav-logo-wrap {
      float: left;
      display: block;
      margin-right: 0%;
      width: 100%; }
      /* line 85, ../../../../../.rbenv/versions/2.1.5/lib/ruby/gems/2.1.0/gems/neat-1.7.0/app/assets/stylesheets/grid/_span-columns.scss */
      .nav-logo-wrap:last-child {
        margin-right: 0; } }
  @media screen and (min-width: 500px) {
    /* line 5, partials/_nav.scss */
    .nav-logo-wrap {
      float: left;
      display: block;
      margin-right: 0%;
      width: 25%; }
      /* line 85, ../../../../../.rbenv/versions/2.1.5/lib/ruby/gems/2.1.0/gems/neat-1.7.0/app/assets/stylesheets/grid/_span-columns.scss */
      .nav-logo-wrap:last-child {
        margin-right: 0; } }

/* line 15, partials/_nav.scss */
.nav-logo {
  -webkit-transition: background-color 0.1s linear;
  -moz-transition: background-color 0.1s linear;
  transition: background-color 0.1s linear;
  -webkit-transition: color 0.1s linear;
  -moz-transition: color 0.1s linear;
  transition: color 0.1s linear;
  border: 1px solid #6a6a6a;
  border-radius: 50%;
  color: #6a6a6a;
  display: block;
  font-size: 1.125em;
  font-weight: 600;
  height: 2.5em;
  line-height: 2.2em;
  margin: 0 auto;
  text-align: center;
  width: 2.5em; }
  @media screen and (min-width: 500px) {
    /* line 15, partials/_nav.scss */
    .nav-logo {
      float: right;
      margin-right: 0.5em; } }
  /* line 35, partials/_nav.scss */
  .nav-logo:hover {
    background-color: #6a6a6a;
    color: white; }

/* line 41, partials/_nav.scss */
.nav-links-wrap {
  border-bottom: 1px solid #DDD;
  margin: 0.5rem 0 0.5rem;
  padding-bottom: 0.5rem; }
  @media screen and (max-width: 500px) {
    /* line 41, partials/_nav.scss */
    .nav-links-wrap {
      float: left;
      display: block;
      margin-right: 0%;
      width: 100%; }
      /* line 85, ../../../../../.rbenv/versions/2.1.5/lib/ruby/gems/2.1.0/gems/neat-1.7.0/app/assets/stylesheets/grid/_span-columns.scss */
      .nav-links-wrap:last-child {
        margin-right: 0; } }
  @media screen and (min-width: 500px) {
    /* line 41, partials/_nav.scss */
    .nav-links-wrap {
      float: left;
      margin-top: 1em;
      padding-bottom: 8px; } }

/* line 55, partials/_nav.scss */
.nav-link {
  font-size: 1.125em;
  font-weight: 600;
  text-align: center;
  text-transform: uppercase; }
  @media screen and (max-width: 500px) {
    /* line 55, partials/_nav.scss */
    .nav-link {
      float: left;
      display: block;
      margin-right: 0%;
      width: 33.33333%; }
      /* line 85, ../../../../../.rbenv/versions/2.1.5/lib/ruby/gems/2.1.0/gems/neat-1.7.0/app/assets/stylesheets/grid/_span-columns.scss */
      .nav-link:last-child {
        margin-right: 0; } }
  @media screen and (min-width: 500px) {
    /* line 55, partials/_nav.scss */
    .nav-link {
      margin: 1em; } }

/* line 68, partials/_nav.scss */
.nav-link.mod-active {
  color: #6a6a6a; }

/* line 1, partials/_profile.scss */
.profile-wrap {
  max-width: 31.25em;
  margin-left: auto;
  margin-right: auto;
  padding-top: 1.5em; }
  /* line 15, ../../../../../.rbenv/versions/2.1.5/lib/ruby/gems/2.1.0/gems/bourbon-4.0.2/app/assets/stylesheets/addons/_clearfix.scss */
  .profile-wrap:after {
    content: "";
    display: table;
    clear: both; }

/* line 6, partials/_profile.scss */
.profile-pic-wrap {
  margin-bottom: 18px; }
  @media screen and (max-width: 500px) {
    /* line 6, partials/_profile.scss */
    .profile-pic-wrap {
      float: left;
      display: block;
      margin-right: 0%;
      width: 100%; }
      /* line 85, ../../../../../.rbenv/versions/2.1.5/lib/ruby/gems/2.1.0/gems/neat-1.7.0/app/assets/stylesheets/grid/_span-columns.scss */
      .profile-pic-wrap:last-child {
        margin-right: 0; } }
  @media screen and (min-width: 500px) {
    /* line 6, partials/_profile.scss */
    .profile-pic-wrap {
      float: left;
      display: block;
      margin-right: 0%;
      width: 100%; }
      /* line 85, ../../../../../.rbenv/versions/2.1.5/lib/ruby/gems/2.1.0/gems/neat-1.7.0/app/assets/stylesheets/grid/_span-columns.scss */
      .profile-pic-wrap:last-child {
        margin-right: 0; } }

/* line 16, partials/_profile.scss */
.profile-pic {
  border-radius: 50%;
  display: block;
  margin: 0 auto;
  max-height: 88px; }

@media screen and (max-width: 500px) {
  /* line 23, partials/_profile.scss */
  .profile-text-wrap {
    float: left;
    display: block;
    margin-right: 0%;
    width: 100%; }
    /* line 85, ../../../../../.rbenv/versions/2.1.5/lib/ruby/gems/2.1.0/gems/neat-1.7.0/app/assets/stylesheets/grid/_span-columns.scss */
    .profile-text-wrap:last-child {
      margin-right: 0; } }
@media screen and (min-width: 500px) {
  /* line 23, partials/_profile.scss */
  .profile-text-wrap {
    float: left;
    display: block;
    margin-right: 0%;
    width: 100%; }
    /* line 85, ../../../../../.rbenv/versions/2.1.5/lib/ruby/gems/2.1.0/gems/neat-1.7.0/app/assets/stylesheets/grid/_span-columns.scss */
    .profile-text-wrap:last-child {
      margin-right: 0; } }

/* line 32, partials/_profile.scss */
.profile-text-title {
  font-size: 1.125em;
  font-weight: 600;
  text-align: center; }

/* line 38, partials/_profile.scss */
.profile-text-link {
  border: 2px solid #955597;
  border-radius: 2em;
  color: #955597;
  display: block;
  font-size: 1.125em;
  font-weight: 600;
  margin: 1em auto;
  padding: 0.4em 0.1em;
  text-align: center;
  width: 10em; }
  /* line 50, partials/_profile.scss */
  .profile-text-link:hover {
    background-color: rgba(149, 85, 151, 0.6);
    color: white; }

/* line 56, partials/_profile.scss */
.profile-text-subtitle {
  color: #4A4A4A;
  margin-top: 1em;
  text-align: center; }

/* line 62, partials/_profile.scss */
.profile-text-cv-link {
  color: #955597; }
  /* line 64, partials/_profile.scss */
  .profile-text-cv-link:hover {
    text-decoration: underline; }

/* line 1, partials/_work-intro.scss */
.work-intro {
  max-width: 31.25em;
  margin-left: auto;
  margin-right: auto;
  font-size: 1.25em;
  margin: 1.5em auto 2em;
  padding: 0 1em;
  text-align: center; }
  /* line 15, ../../../../../.rbenv/versions/2.1.5/lib/ruby/gems/2.1.0/gems/bourbon-4.0.2/app/assets/stylesheets/addons/_clearfix.scss */
  .work-intro:after {
    content: "";
    display: table;
    clear: both; }
  @media screen and (min-width: 500px) {
    /* line 1, partials/_work-intro.scss */
    .work-intro {
      margin-bottom: 3em; } }

/* line 4, partials/_case-study.scss */
.case-study {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 20em;
  width: 100%;
  margin-bottom: 3em;
  margin-top: 1.25em;
  color: #333333; }
  /* line 15, ../../../../../.rbenv/versions/2.1.5/lib/ruby/gems/2.1.0/gems/bourbon-4.0.2/app/assets/stylesheets/addons/_clearfix.scss */
  .case-study:after {
    content: "";
    display: table;
    clear: both; }
  @media screen and (min-width: 500px) {
    /* line 4, partials/_case-study.scss */
    .case-study {
      margin-top: 2.5em; } }

/* line 18, partials/_case-study.scss */
.case-study.mod-mesvaccins {
  background-image: url("/assets/mv/mesvaccins-background.jpg");
  background-color: #113970; }

/* line 23, partials/_case-study.scss */
.case-study.mod-colorcard {
  background-image: url("/assets/cc/colorcard-background.jpg");
  background-color: #2B87D3; }

/* line 28, partials/_case-study.scss */
.case-study.mod-buddybounce {
  background-image: url("/assets/bb/buddybounce-background.jpg");
  background-color: #d47f00; }

/* line 33, partials/_case-study.scss */
.case-study-text-wrap {
  display: block;
  margin-bottom: 1em;
  margin-top: 1em;
  padding: 1.5em; }
  @media screen and (max-width: 500px) {
    /* line 33, partials/_case-study.scss */
    .case-study-text-wrap {
      float: left;
      display: block;
      margin-right: 0%;
      width: 100%; }
      /* line 85, ../../../../../.rbenv/versions/2.1.5/lib/ruby/gems/2.1.0/gems/neat-1.7.0/app/assets/stylesheets/grid/_span-columns.scss */
      .case-study-text-wrap:last-child {
        margin-right: 0; } }
  @media screen and (min-width: 500px) {
    /* line 33, partials/_case-study.scss */
    .case-study-text-wrap {
      float: left;
      display: block;
      margin-right: 0%;
      width: 50%; }
      /* line 85, ../../../../../.rbenv/versions/2.1.5/lib/ruby/gems/2.1.0/gems/neat-1.7.0/app/assets/stylesheets/grid/_span-columns.scss */
      .case-study-text-wrap:last-child {
        margin-right: 0; } }
  @media screen and (min-width: 53.75em) {
    /* line 33, partials/_case-study.scss */
    .case-study-text-wrap {
      float: left;
      display: block;
      margin-right: 0%;
      width: 62.5%; }
      /* line 85, ../../../../../.rbenv/versions/2.1.5/lib/ruby/gems/2.1.0/gems/neat-1.7.0/app/assets/stylesheets/grid/_span-columns.scss */
      .case-study-text-wrap:last-child {
        margin-right: 0; } }

@media screen and (min-width: 500px) {
  /* line 50, partials/_case-study.scss */
  .case-study-text-wrap.mod-shift-right-half {
    float: left;
    display: block;
    margin-right: 0%;
    width: 50%;
    margin-left: 50%; }
    /* line 85, ../../../../../.rbenv/versions/2.1.5/lib/ruby/gems/2.1.0/gems/neat-1.7.0/app/assets/stylesheets/grid/_span-columns.scss */
    .case-study-text-wrap.mod-shift-right-half:last-child {
      margin-right: 0; } }
@media screen and (min-width: 53.75em) {
  /* line 50, partials/_case-study.scss */
  .case-study-text-wrap.mod-shift-right-half {
    float: left;
    display: block;
    margin-right: 0%;
    width: 50%;
    margin-left: 37.5%; }
    /* line 85, ../../../../../.rbenv/versions/2.1.5/lib/ruby/gems/2.1.0/gems/neat-1.7.0/app/assets/stylesheets/grid/_span-columns.scss */
    .case-study-text-wrap.mod-shift-right-half:last-child {
      margin-right: 0; } }

/* line 61, partials/_case-study.scss */
.case-study-title {
  color: white;
  font-size: 1.25em;
  font-weight: 600;
  margin-bottom: 0;
  text-align: center; }

@media screen and (min-width: 500px) {
  /* line 69, partials/_case-study.scss */
  .case-study-title.mod-align-right {
    text-align: right; } }

@media screen and (min-width: 500px) {
  /* line 75, partials/_case-study.scss */
  .case-study-title.mod-align-left {
    text-align: left; } }

/* line 81, partials/_case-study.scss */
.case-study-subtitle {
  border-top: 1px solid rgba(255, 255, 255, 0.3);
  color: white;
  display: block;
  font-size: 1.125em;
  margin: 0.5em auto 1.5em;
  max-width: 15em;
  padding-top: 0.5em;
  text-align: center; }
  /* line 15, ../../../../../.rbenv/versions/2.1.5/lib/ruby/gems/2.1.0/gems/bourbon-4.0.2/app/assets/stylesheets/addons/_clearfix.scss */
  .case-study-subtitle:after {
    content: "";
    display: table;
    clear: both; }

@media screen and (min-width: 500px) {
  /* line 93, partials/_case-study.scss */
  .case-study-subtitle.mod-align-right {
    text-align: right;
    float: right; } }

@media screen and (min-width: 500px) {
  /* line 100, partials/_case-study.scss */
  .case-study-subtitle.mod-align-left {
    text-align: left;
    float: left; } }

/* line 107, partials/_case-study.scss */
.case-study-link {
  -webkit-transition: background-color 0.1s linear;
  -moz-transition: background-color 0.1s linear;
  transition: background-color 0.1s linear;
  -webkit-transition: color 0.1s linear;
  -moz-transition: color 0.1s linear;
  transition: color 0.1s linear;
  border: 2px solid white;
  border-radius: 100px;
  color: white;
  display: block;
  font-size: 1.25em;
  font-weight: 600;
  margin: 0 auto;
  padding: 0.25em 0.4em 0.35em;
  text-align: center;
  width: 6em; }
  /* line 15, ../../../../../.rbenv/versions/2.1.5/lib/ruby/gems/2.1.0/gems/bourbon-4.0.2/app/assets/stylesheets/addons/_clearfix.scss */
  .case-study-link:after {
    content: "";
    display: table;
    clear: both; }
  /* line 123, partials/_case-study.scss */
  .case-study-link:hover {
    background-color: rgba(255, 255, 255, 0.6);
    color: #333333; }

@media screen and (min-width: 500px) {
  /* line 129, partials/_case-study.scss */
  .case-study-link.mod-align-right {
    float: right;
    clear: both; } }

@media screen and (min-width: 500px) {
  /* line 136, partials/_case-study.scss */
  .case-study-link.mod-align-left {
    float: left;
    clear: both; } }

/* line 4, partials/_case-study-detail.scss */
.cs-app-intro {
  max-width: 31.25em;
  margin-left: auto;
  margin-right: auto;
  padding: 1em 1.25em 0; }
  /* line 15, ../../../../../.rbenv/versions/2.1.5/lib/ruby/gems/2.1.0/gems/bourbon-4.0.2/app/assets/stylesheets/addons/_clearfix.scss */
  .cs-app-intro:after {
    content: "";
    display: table;
    clear: both; }
  @media screen and (max-width: 500px) {
    /* line 4, partials/_case-study-detail.scss */
    .cs-app-intro {
      float: left;
      display: block;
      margin-right: 0%;
      width: 100%; }
      /* line 85, ../../../../../.rbenv/versions/2.1.5/lib/ruby/gems/2.1.0/gems/neat-1.7.0/app/assets/stylesheets/grid/_span-columns.scss */
      .cs-app-intro:last-child {
        margin-right: 0; } }

/* line 12, partials/_case-study-detail.scss */
.cs-app-intro-icon-wrap {
  float: left;
  padding-top: 0.15em; }

/* line 17, partials/_case-study-detail.scss */
.cs-app-intro-icon {
  height: 3.75em;
  width: 3.75em; }

/* line 21, partials/_case-study-detail.scss */
.cs-app-intro-text-wrap {
  display: inline-block;
  padding-left: 1em; }

/* line 26, partials/_case-study-detail.scss */
.cs-app-intro-text-title {
  font-size: 1.5em;
  font-weight: 600;
  margin-bottom: 0px; }

/* line 32, partials/_case-study-detail.scss */
.cs-app-intro-text-subtitle {
  font-size: 1.125em; }

/* line 36, partials/_case-study-detail.scss */
.cs-app-desc-wrap {
  max-width: 31.25em;
  margin-left: auto;
  margin-right: auto;
  padding: 0 0.75em;
  margin-top: 1em; }
  /* line 15, ../../../../../.rbenv/versions/2.1.5/lib/ruby/gems/2.1.0/gems/bourbon-4.0.2/app/assets/stylesheets/addons/_clearfix.scss */
  .cs-app-desc-wrap:after {
    content: "";
    display: table;
    clear: both; }
  @media screen and (max-width: 500px) {
    /* line 36, partials/_case-study-detail.scss */
    .cs-app-desc-wrap {
      float: left;
      display: block;
      margin-right: 0%;
      width: 100%; }
      /* line 85, ../../../../../.rbenv/versions/2.1.5/lib/ruby/gems/2.1.0/gems/neat-1.7.0/app/assets/stylesheets/grid/_span-columns.scss */
      .cs-app-desc-wrap:last-child {
        margin-right: 0; } }

/* line 45, partials/_case-study-detail.scss */
.cs-app-desc-border-wrap {
  border-left: 1px solid #999;
  padding-left: 0.75em; }

/* line 50, partials/_case-study-detail.scss */
.cs-app-desc-title {
  font-size: 1.5em;
  font-weight: 600;
  margin-bottom: 5px; }

/* line 56, partials/_case-study-detail.scss */
.cs-app-desc-subtitle {
  font-size: 1.5em; }
  @media screen and (min-width: 500px) {
    /* line 56, partials/_case-study-detail.scss */
    .cs-app-desc-subtitle {
      font-size: 1.25em; } }

/* line 63, partials/_case-study-detail.scss */
.cs-app-text-wrap {
  max-width: 31.25em;
  margin-left: auto;
  margin-right: auto;
  padding: 0 1.25em;
  margin-top: 1em; }
  /* line 15, ../../../../../.rbenv/versions/2.1.5/lib/ruby/gems/2.1.0/gems/bourbon-4.0.2/app/assets/stylesheets/addons/_clearfix.scss */
  .cs-app-text-wrap:after {
    content: "";
    display: table;
    clear: both; }
  @media screen and (max-width: 500px) {
    /* line 63, partials/_case-study-detail.scss */
    .cs-app-text-wrap {
      float: left;
      display: block;
      margin-right: 0%;
      width: 100%; }
      /* line 85, ../../../../../.rbenv/versions/2.1.5/lib/ruby/gems/2.1.0/gems/neat-1.7.0/app/assets/stylesheets/grid/_span-columns.scss */
      .cs-app-text-wrap:last-child {
        margin-right: 0; } }

/* line 72, partials/_case-study-detail.scss */
.cs-app-text-title {
  font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  font-size: 1.25em;
  font-weight: 600;
  margin-bottom: 0.7em; }

/* line 79, partials/_case-study-detail.scss */
.cs-app-text-subtitle {
  font-family: "Merriweather", Georgia, Cambria, "Times New Roman", Times, serif;
  font-size: 1.0625em;
  line-height: 1.6875em; }
  @media screen and (min-width: 500px) {
    /* line 79, partials/_case-study-detail.scss */
    .cs-app-text-subtitle {
      font-size: 0.875em; } }

/* line 88, partials/_case-study-detail.scss */
.mod-mesvaccins-link {
  color: #2662b6; }
  /* line 90, partials/_case-study-detail.scss */
  .mod-mesvaccins-link:hover {
    color: #113970;
    text-decoration: underline; }
  /* line 94, partials/_case-study-detail.scss */
  .mod-mesvaccins-link:active, .mod-mesvaccins-link:focus {
    color: #113970; }

/* line 99, partials/_case-study-detail.scss */
.mod-buddybounce-link {
  color: #FFB03B; }
  /* line 101, partials/_case-study-detail.scss */
  .mod-buddybounce-link:hover {
    color: #d47f00;
    text-decoration: underline; }
  /* line 105, partials/_case-study-detail.scss */
  .mod-buddybounce-link:active, .mod-buddybounce-link:focus {
    color: #d47f00; }

/* line 110, partials/_case-study-detail.scss */
.cs-techdetails-wrap {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  background-color: #386098;
  margin-top: 0.5em;
  padding: 1em 0; }
  /* line 15, ../../../../../.rbenv/versions/2.1.5/lib/ruby/gems/2.1.0/gems/bourbon-4.0.2/app/assets/stylesheets/addons/_clearfix.scss */
  .cs-techdetails-wrap:after {
    content: "";
    display: table;
    clear: both; }
  @media screen and (max-width: 500px) {
    /* line 110, partials/_case-study-detail.scss */
    .cs-techdetails-wrap {
      float: left;
      display: block;
      margin-right: 0%;
      width: 100%; }
      /* line 85, ../../../../../.rbenv/versions/2.1.5/lib/ruby/gems/2.1.0/gems/neat-1.7.0/app/assets/stylesheets/grid/_span-columns.scss */
      .cs-techdetails-wrap:last-child {
        margin-right: 0; } }
  @media screen and (min-width: 500px) {
    /* line 110, partials/_case-study-detail.scss */
    .cs-techdetails-wrap {
      float: left;
      display: block;
      margin-right: 0%;
      width: 100%;
      margin-top: 1em; }
      /* line 85, ../../../../../.rbenv/versions/2.1.5/lib/ruby/gems/2.1.0/gems/neat-1.7.0/app/assets/stylesheets/grid/_span-columns.scss */
      .cs-techdetails-wrap:last-child {
        margin-right: 0; } }

/* line 124, partials/_case-study-detail.scss */
.cs-techdetails-wrap.mod-mesvaccins {
  background-color: #386098; }

/* line 128, partials/_case-study-detail.scss */
.cs-techdetails-wrap.mod-colorcard {
  background-color: #2B87D3; }

/* line 132, partials/_case-study-detail.scss */
.cs-techdetails-wrap.mod-buddybounce {
  background-color: #CC8208; }

/* line 136, partials/_case-study-detail.scss */
.cs-techdetails-text-wrap {
  margin: 0 auto;
  max-width: 31.25em;
  padding: 0 1.25em; }

/* line 142, partials/_case-study-detail.scss */
.cs-techdetails-title {
  color: white;
  font-size: 1.75em;
  font-weight: 600;
  margin-bottom: 0.75em; }

/* line 149, partials/_case-study-detail.scss */
.cs-techdetails-subtitle {
  color: white;
  font-family: "Merriweather", Georgia, Cambria, "Times New Roman", Times, serif;
  font-size: 1.0625em;
  line-height: 1.6875em;
  margin-bottom: 1em; }
  @media screen and (min-width: 500px) {
    /* line 149, partials/_case-study-detail.scss */
    .cs-techdetails-subtitle {
      font-size: 0.875em; } }

/* line 160, partials/_case-study-detail.scss */
.mod-mesvaccins-techdetails-link {
  color: white;
  border-bottom: 1px solid white; }
  /* line 163, partials/_case-study-detail.scss */
  .mod-mesvaccins-techdetails-link:hover {
    border-bottom: 1px solid #E7AB47;
    color: #E7AB47; }
  /* line 168, partials/_case-study-detail.scss */
  .mod-mesvaccins-techdetails-link:active, .mod-mesvaccins-techdetails-link:focus {
    border-bottom: 1px solid #E7AB47;
    color: #E7AB47; }

/* line 175, partials/_case-study-detail.scss */
.cs-techdetails-tags li {
  color: white;
  display: inline-block;
  border: 1px solid white;
  border-radius: 100px;
  padding: 0.2em 0.6em 0.3em;
  margin: 0.3em 0.15em; }

/* line 185, partials/_case-study-detail.scss */
.case-studies-link {
  border: 2px solid #955597;
  border-radius: 2em;
  color: #955597;
  display: block;
  font-size: 1.5em;
  font-weight: 600;
  margin: 3em auto 1em;
  padding: 0.4em 0.1em;
  text-align: center;
  width: 10em; }
  /* line 197, partials/_case-study-detail.scss */
  .case-studies-link:hover {
    background-color: rgba(149, 85, 151, 0.6);
    color: white; }

/* line 1, partials/_screenshot-detail.scss */
.screenshot-section-title {
  max-width: 31.25em;
  margin-left: auto;
  margin-right: auto;
  border-bottom: 1px solid #DDD;
  font-size: 1.75em;
  font-weight: 600;
  display: block;
  margin: 1.5em auto 1.5em;
  padding-bottom: 0.5em;
  text-align: center;
  text-transform: uppercase; }
  @media screen and (min-width: 500px) {
    /* line 1, partials/_screenshot-detail.scss */
    .screenshot-section-title {
      margin-bottom: -1.5em; } }
  /* line 15, ../../../../../.rbenv/versions/2.1.5/lib/ruby/gems/2.1.0/gems/bourbon-4.0.2/app/assets/stylesheets/addons/_clearfix.scss */
  .screenshot-section-title:after {
    content: "";
    display: table;
    clear: both; }

/* line 16, partials/_screenshot-detail.scss */
.screenshot-detail {
  max-width: 31.25em;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 3.5em; }
  /* line 15, ../../../../../.rbenv/versions/2.1.5/lib/ruby/gems/2.1.0/gems/bourbon-4.0.2/app/assets/stylesheets/addons/_clearfix.scss */
  .screenshot-detail:after {
    content: "";
    display: table;
    clear: both; }
  @media screen and (min-width: 500px) {
    /* line 16, partials/_screenshot-detail.scss */
    .screenshot-detail {
      margin: 6em auto 3.5em; } }

/* line 24, partials/_screenshot-detail.scss */
.screenshot-text-wrap {
  max-width: 30em;
  padding: 1em; }
  @media screen and (max-width: 500px) {
    /* line 24, partials/_screenshot-detail.scss */
    .screenshot-text-wrap {
      float: left;
      display: block;
      margin-right: 0%;
      width: 100%; }
      /* line 85, ../../../../../.rbenv/versions/2.1.5/lib/ruby/gems/2.1.0/gems/neat-1.7.0/app/assets/stylesheets/grid/_span-columns.scss */
      .screenshot-text-wrap:last-child {
        margin-right: 0; } }
  @media screen and (min-width: 500px) {
    /* line 24, partials/_screenshot-detail.scss */
    .screenshot-text-wrap {
      float: left;
      display: block;
      margin-right: 0%;
      width: 50%; }
      /* line 85, ../../../../../.rbenv/versions/2.1.5/lib/ruby/gems/2.1.0/gems/neat-1.7.0/app/assets/stylesheets/grid/_span-columns.scss */
      .screenshot-text-wrap:last-child {
        margin-right: 0; } }
  @media screen and (min-width: 53.75em) {
    /* line 24, partials/_screenshot-detail.scss */
    .screenshot-text-wrap {
      float: left;
      display: block;
      margin-right: 0%;
      width: 50%; }
      /* line 85, ../../../../../.rbenv/versions/2.1.5/lib/ruby/gems/2.1.0/gems/neat-1.7.0/app/assets/stylesheets/grid/_span-columns.scss */
      .screenshot-text-wrap:last-child {
        margin-right: 0; } }

@media screen and (max-width: 500px) {
  /* line 38, partials/_screenshot-detail.scss */
  .screenshot-text-wrap.mod-shift-right-half {
    float: left;
    display: block;
    margin-right: 0%;
    width: 100%; }
    /* line 85, ../../../../../.rbenv/versions/2.1.5/lib/ruby/gems/2.1.0/gems/neat-1.7.0/app/assets/stylesheets/grid/_span-columns.scss */
    .screenshot-text-wrap.mod-shift-right-half:last-child {
      margin-right: 0; } }
@media screen and (min-width: 500px) {
  /* line 38, partials/_screenshot-detail.scss */
  .screenshot-text-wrap.mod-shift-right-half {
    float: left;
    display: block;
    margin-right: 0%;
    width: 50%;
    margin-left: 50%; }
    /* line 85, ../../../../../.rbenv/versions/2.1.5/lib/ruby/gems/2.1.0/gems/neat-1.7.0/app/assets/stylesheets/grid/_span-columns.scss */
    .screenshot-text-wrap.mod-shift-right-half:last-child {
      margin-right: 0; } }
@media screen and (min-width: 53.75em) {
  /* line 38, partials/_screenshot-detail.scss */
  .screenshot-text-wrap.mod-shift-right-half {
    float: left;
    display: block;
    margin-right: 0%;
    width: 50%;
    margin-left: 50%; }
    /* line 85, ../../../../../.rbenv/versions/2.1.5/lib/ruby/gems/2.1.0/gems/neat-1.7.0/app/assets/stylesheets/grid/_span-columns.scss */
    .screenshot-text-wrap.mod-shift-right-half:last-child {
      margin-right: 0; } }

/* line 52, partials/_screenshot-detail.scss */
.screenshot-title {
  color: #333333;
  font-size: 1.5em;
  font-weight: 600;
  text-align: center;
  margin-bottom: 0.2em; }
  @media screen and (min-width: 500px) {
    /* line 52, partials/_screenshot-detail.scss */
    .screenshot-title {
      text-align: left; } }

/* line 63, partials/_screenshot-detail.scss */
.screenshot-subtitle {
  color: #333333;
  font-size: 1.125em;
  text-align: center; }
  @media screen and (min-width: 500px) {
    /* line 63, partials/_screenshot-detail.scss */
    .screenshot-subtitle {
      text-align: left; } }

/* line 72, partials/_screenshot-detail.scss */
.screenshot-subtitle.mod-example {
  color: #999; }

@media screen and (max-width: 500px) {
  /* line 11, partials/_iphone5-mock.scss */
  .iphone5-wrap {
    float: left;
    display: block;
    margin-right: 0%;
    width: 100%; }
    /* line 85, ../../../../../.rbenv/versions/2.1.5/lib/ruby/gems/2.1.0/gems/neat-1.7.0/app/assets/stylesheets/grid/_span-columns.scss */
    .iphone5-wrap:last-child {
      margin-right: 0; } }
@media screen and (min-width: 500px) {
  /* line 11, partials/_iphone5-mock.scss */
  .iphone5-wrap {
    float: left;
    display: block;
    margin-right: 0%;
    width: 50%; }
    /* line 85, ../../../../../.rbenv/versions/2.1.5/lib/ruby/gems/2.1.0/gems/neat-1.7.0/app/assets/stylesheets/grid/_span-columns.scss */
    .iphone5-wrap:last-child {
      margin-right: 0; } }
@media screen and (min-width: 53.75em) {
  /* line 11, partials/_iphone5-mock.scss */
  .iphone5-wrap {
    float: left;
    display: block;
    margin-right: 0%;
    width: 37.5%; }
    /* line 85, ../../../../../.rbenv/versions/2.1.5/lib/ruby/gems/2.1.0/gems/neat-1.7.0/app/assets/stylesheets/grid/_span-columns.scss */
    .iphone5-wrap:last-child {
      margin-right: 0; } }

@media screen and (min-width: 500px) {
  /* line 23, partials/_iphone5-mock.scss */
  .iphone5-wrap.mod-shift-left-half {
    float: left;
    display: block;
    margin-right: 0%;
    width: 50%;
    margin-left: -100%; }
    /* line 85, ../../../../../.rbenv/versions/2.1.5/lib/ruby/gems/2.1.0/gems/neat-1.7.0/app/assets/stylesheets/grid/_span-columns.scss */
    .iphone5-wrap.mod-shift-left-half:last-child {
      margin-right: 0; } }
@media screen and (min-width: 53.75em) {
  /* line 23, partials/_iphone5-mock.scss */
  .iphone5-wrap.mod-shift-left-half {
    float: left;
    display: block;
    margin-right: 0%;
    width: 50%;
    margin-left: -100%; }
    /* line 85, ../../../../../.rbenv/versions/2.1.5/lib/ruby/gems/2.1.0/gems/neat-1.7.0/app/assets/stylesheets/grid/_span-columns.scss */
    .iphone5-wrap.mod-shift-left-half:last-child {
      margin-right: 0; } }

/* line 34, partials/_iphone5-mock.scss */
.iphone5 {
  background: #bdc3c7;
  border-radius: 1em;
  box-shadow: 0px 3px 3px 0px #869198;
  display: block;
  margin: 0em auto -2em auto;
  padding: 2.8em 0;
  width: 10.8em; }
  @media screen and (min-width: 500px) {
    /* line 34, partials/_iphone5-mock.scss */
    .iphone5 {
      margin: -2em auto; } }

@media screen and (min-width: 500px) {
  /* line 47, partials/_iphone5-mock.scss */
  .iphone5.mod-align-left {
    float: left;
    margin-left: 1em; } }

@media screen and (min-width: 500px) {
  /* line 54, partials/_iphone5-mock.scss */
  .iphone5.mod-align-right {
    float: right;
    margin-right: 1em; } }

/* line 61, partials/_iphone5-mock.scss */
.screen {
  height: 17.73438em;
  width: 10em;
  background-size: cover;
  border: 1px solid #bdc3c7;
  margin: auto; }

/* line 68, partials/_iphone5-mock.scss */
.screen.mod-mesvaccins {
  background-image: url(/assets/mv/mesvaccins-screenshot1.jpg); }

/* line 72, partials/_iphone5-mock.scss */
.screen.mod-colorcard {
  background-image: url(/assets/cc/colorcard-screenshot1.jpg); }

/* line 76, partials/_iphone5-mock.scss */
.screen.mod-buddybounce {
  background-image: url(/assets/bb/buddybounce-screenshot1.jpg); }

/* line 1, partials/_blog.scss */
.blog-content-wrap {
  max-width: 31.25em;
  margin-left: auto;
  margin-right: auto; }
  /* line 15, ../../../../../.rbenv/versions/2.1.5/lib/ruby/gems/2.1.0/gems/bourbon-4.0.2/app/assets/stylesheets/addons/_clearfix.scss */
  .blog-content-wrap:after {
    content: "";
    display: table;
    clear: both; }
