$app-icon-width: 3.75em;
$app-icon-height: 3.75em;

.cs-app-intro {
  @include outer-container;
  @include media($mobile) {
    @include span-columns(4);
  }
  padding: 1em 1.25em 0;
}

.cs-app-intro-icon-wrap {
  float: left;
  padding-top: 0.15em;
}

.cs-app-intro-icon {
  @include size($app-icon-width $app-icon-height);
}

.cs-app-intro-text-wrap {
  display: inline-block;
  padding-left: 1em;
}

.cs-app-intro-text-title {
  font-size: $font-size-xxlarge;
  font-weight: $font-weight-semi-bold;
  margin-bottom: 0px;
}

.cs-app-intro-text-subtitle {
  font-size: $font-size-large;
}

.cs-app-desc-wrap {
  @include outer-container;
  @include media($mobile) {
    @include span-columns(4);
  }
  padding: 0 0.75em;
  margin-top: 1em;
}

.cs-app-desc-border-wrap {
  border-left: 1px solid $medium-gray;
  padding-left: 0.75em;
}

.cs-app-desc-title {
  font-size: $font-size-xxlarge;
  font-weight: $font-weight-semi-bold;
  margin-bottom: 5px;
}

.cs-app-desc-subtitle {
  @include media($medium-screen-up) {
    font-size: $font-size-xlarge;
  }
  font-size: $font-size-xxlarge;
}

.cs-app-text-wrap {
  @include outer-container;
  @include media($mobile) {
    @include span-columns(4);
  }
  padding: 0 1.25em;
  margin-top: 1em;
}

.cs-app-text-title {
  font-family: $sans-serif;
  font-size: $font-size-xlarge;
  font-weight: $font-weight-semi-bold;
  margin-bottom: 5px;
}

.cs-app-text-subtitle {
  @include media($medium-screen-up) {
    font-size: $font-size-small;
  }
  font-family: $serif;
  font-size: $font-size-medium;
  line-height: $line-height-normal;
}

.mod-mesvaccins-link {
  color: lighten($mv-blue, 10%);
  &:hover {
    color: $dark-mv-blue;
    text-decoration: underline;
  }
  &:active, &:focus {
    color: $dark-mv-blue;
  }
}

.mod-buddybounce-link {
  color: $bb-yellow;
  &:hover {
    color: darken($bb-yellow, 20%);
    text-decoration: underline;
  }
  &:active, &:focus {
    color: darken($bb-yellow, 20%);
  }
}

.cs-techdetails-wrap {
  @include outer-container(100%);
  @include media($mobile) {
    @include span-columns(4);
  }
  @include media($medium-screen-up) {
    @include span-columns(4);
    margin-top: 1em;
  }
  background-color: $light-mv-blue;
  margin-top: 0.5em;
  padding: 1em 0;
}

.cs-techdetails-wrap.mod-mesvaccins {
  background-color: $light-mv-blue;
}

.cs-techdetails-wrap.mod-buddybounce {
  background-color: $dark-bb-yellow;
}

.cs-techdetails-text-wrap {
  margin: 0 auto;
  max-width: em(500);
  padding: 0 1.25em;
}

.cs-techdetails-title {
  color: white;
  font-size: $font-size-xxxlarge;
  font-weight: $font-weight-semi-bold;
  margin-bottom: 0.75em;
}

.cs-techdetails-subtitle {
  @include media($medium-screen-up) {
    font-size: $font-size-small;
  }
  color: white;
  font-family: $serif;
  font-size: $font-size-medium;
  line-height: $line-height-normal;
  margin-bottom: 1em;
}

.mod-mesvaccins-techdetails-link {
  color: $mv-yellow;
  &:hover {
    color: darken($mv-yellow, 20%);
  }

  &:active, &:focus {
    color: darken($mv-yellow, 20%);
  }
}

.cs-techdetails-tags {
  li {
    color: white;
    display: inline-block;
    border: 1px solid white;
    border-radius: 100px;
    padding: 0.2em 0.6em 0.3em;
    margin: 0.3em 0.15em;
  }
}

.case-studies-link {
  border: 2px solid $dark-pink;
  border-radius: 2em;
  color: $dark-pink;
  display: block;
  font-size: $font-size-xxlarge;
  font-weight: $font-weight-semi-bold;
  margin: 3em auto 1em;
  padding: 0.4em 0.1em;
  text-align: center;
  width: 10em;

  &:hover {
    background-color: transparentize($dark-pink, 0.4);
    color: white;
  }
}
