.case-study {
  @include outer-container(100%);

  background-repeat: no-repeat;
  background-size: cover;
  min-height: 20em;
  width: 100%;
  margin-bottom: 3em;
  margin-top: 3em;
  color: $dark-gray;
}

.case-study.mod-buddybounce {
  background-image: url("/assets/bb/buddybounce-background.jpg");
  background-color: darken($bb-yellow, 20%);
}

.case-study.mod-mesvaccins {
  background-image: url("/assets/mv/mesvaccins-background.jpg");
  background-color: $dark-mv-blue;
}

$study-text-color: white;
$study-link-color: white;

.case-study-text-wrap {
  @include media($mobile) {
    @include span-columns(4);
  }
  @include media($medium-screen-up) {
    @include span-columns(2);
  }
  @include media($large-screen-up) {
    @include span-columns(5);
  }

  display: block;
  margin-bottom: 1em;
  margin-top: 1em;
  padding: 1.5em;
}

.case-study-text-wrap.mod-shift-right-half {
  @include media($medium-screen-up) {
    @include span-columns(2);
    @include shift(2);
  }
  @include media($large-screen-up) {
    @include span-columns(4);
    @include shift(3);
  }
}

.case-study-title {
  color: $study-text-color;
  font-size: $font-size-xlarge;
  font-weight: 600;
  margin-bottom: 0;
  text-align: center;
}

.case-study-title.mod-align-right {
  @include media($medium-screen-up) {
    text-align: right;
  }
}

.case-study-title.mod-align-left {
  @include media($medium-screen-up) {
    text-align: left;
  }
}

.case-study-subtitle {
  @include clearfix;
  border-top: 1px solid transparentize($study-text-color, 0.7);
  color: $study-text-color;
  display: block;
  font-size: $font-size-large;
  margin: 0.5em auto 1.5em;
  max-width: 22em;
  padding-top: 0.5em;
  text-align: center;
}

.case-study-subtitle.mod-align-right {
  @include media($medium-screen-up) {
    text-align: right;
    float: right;
  }
}

.case-study-subtitle.mod-align-left {
  @include media($medium-screen-up) {
    text-align: left;
    float: left;
  }
}

.case-study-link {
  @include clearfix;
  @include transition(background-color 0.1s linear);
  @include transition(color 0.1s linear);

  border: 2px solid $study-link-color;
  border-radius: 100px;
  color: $study-link-color;
  display: block;
  font-size: $font-size-large;
  font-weight: $font-weight-semi-bold;
  margin: 0 auto;
  padding: 0.2em 0.2em 0.3em 0.2em;
  text-align: center;
  width: 6em;

  &:hover {
    background-color: transparentize($study-link-color, 0.4);
    color: $dark-gray;
  }
}

.case-study-link.mod-align-right {
  @include media($medium-screen-up) {
    float: right;
    clear: both;
  }
}

.case-study-link.mod-align-left {
  @include media($medium-screen-up) {
    float: left;
    clear: both;
  }
}
