.device-background {

/////////////////////////////////////////////////////////////////////////////////

  // .device-background
  $device-image: '/assets/buddybounce-background.jpg';
  $device-background-top: #162C4C; 
  $device-background-bottom: #0A120D;
  $gradient-angle: 0deg;

  // .device-background .device-text
  $device-text-color: white;

  // .device
  $device-padding-vertical: 2.8em;
  $device-padding-horizontal: 0.4em;
  $device-background: $light-gray;

  // .device .screen
  $device-screen-image: '/assets/discover-screenshot.png';
  $device-screen-width: 10em;
  $device-screen-height: $device-screen-width * (1135/640);

/////////////////////////////////////////////////////////////////////////////////

  @include outer-container;

  margin-top: 2em;

  .background {
    @include background-image(url($device-image));
    background-color: $dark-gray;
    background-repeat: no-repeat;
    background-size: cover;
    position:absolute;
    min-height: 20em;
    left:0;
    right:0;
    z-index: -1;
  }

  .device-text {

    @include media($mobile) {
      @include span-columns(4);
    }
    @include media($medium-screen-up) {
      @include span-columns(2);
    }
    @include media($large-screen-up) {
      @include span-columns(4);
    }
    color: $device-text-color;
    padding: 1.5em;
    display: block;
    margin-bottom: 1em;

    h5 {
      border-bottom: 1px solid transparentize($device-text-color, 0.7);
      margin-bottom: 0.5em;
      padding-bottom: 0.5em;
    }

    p {
      font-size: 0.9em;
      margin-bottom: 1.5em;
    }

    button {
      margin-left: 20%;
      @include button(flat, $base-accent-color);
      padding: 0.7em 1em;
    }
  }

  .device-wrap {
    @include media($mobile) {
      @include span-columns(4);
    }
    @include media($medium-screen-up) {
      @include span-columns(2);
    }
    @include media($large-screen-up) {
      @include span-columns(4);
    }

    .device {
      @include media($medium-screen-up) {
        margin: -2em 0 0 0;
        float: right;
      }
      @include media($large-screen-up) {
        margin: -2em -4em 0 0;
        float: right;
      }

      background: $device-background;
      border: 1px solid $light-gray;
      border-radius: 1em;
      display: block;
      padding: $device-padding-vertical 0;
      width: $device-screen-width + (2 * $device-padding-horizontal);
      margin: 0 auto;


      .screen {
        @include size($device-screen-width $device-screen-height);
        background-image: url($device-screen-image);
        background-size: cover;
        border: 1px solid $light-gray;
        margin: auto;
      }
    }
  }
}
