.case-study-summary {

/////////////////////////////////////////////////////////////////////////////////

  // .case-study-summary
  $case-study-summary-padding-top: 3em;
  $case-study-summary-padding-bottom: 3em;

  // .background
  $background-placeholder-color: $dark-gray;
  $background-height: 20em;
  $buddybounce-background-image: '/assets/buddybounce-background.jpg';

  // .device-text
  $device-text-color: white;

  // .device
  $device-padding-vertical: 2.8em;
  $device-padding-horizontal: 0.4em;
  $device-bezel-color: $light-gray;

  // .screen
  $buddybounce-screenshot: '/assets/discover-screenshot.png';
  $mesvaccins-screenshot: '/assets/mesvaccins-screenshot.png';
  $device-screen-width: 10em;
  $device-screen-height: $device-screen-width * (1135/640);

/////////////////////////////////////////////////////////////////////////////////

  @include outer-container;
  @include media($mobile) {
    display:flex;
    flex-flow: column;
    .device-text-align-right{order:1;}
    .device-text-align-left{order:1;}
    .device-wrap{order:2;}
  }
  margin-top: $case-study-summary-padding-top;
  margin-bottom: $case-study-summary-padding-bottom;

  .background {
    background-color: $background-placeholder-color;
    background-repeat: no-repeat;
    background-size: cover;
    position:absolute;
    height: $background-height;
    left:0;
    right:0;
    z-index: -1;
  }

  .background-mesvaccins {
    @extend .background;
    background-image: none;
  }

  .background-buddybounce {
    @extend .background;
    @include background-image(url($buddybounce-background-image));
  }

  .device-text-align-left {
    @include media($mobile) {
      @include span-columns(4);
      @include order(1);
    }
    @include media($medium-screen-up) {
      @include span-columns(2);
    }
    @include media($large-screen-up) {
      @include span-columns(4);
    }
    color: $device-text-color;
    padding: 1.5em;
    display: block;
    margin-bottom: 1em;

    h5 {
      @include media($medium-screen-up) {
        text-align: left;
      }
      border-bottom: 1px solid transparentize($device-text-color, 0.7);
      margin-bottom: 0.5em;
      padding-bottom: 0.5em;
      text-align: center;
    }

    p {
      @include media($medium-screen-up) {
        text-align: left;
      }
      font-size: 0.9em;
      margin-bottom: 1.5em;
      text-align: center;
    }

    $seemore-button-color: white;
    a {
      @include transition(background-color 0.1s linear);
      @include transition(color 0.1s linear);
      @include media($medium-screen-up) {
        margin: 0;
      }

      display: block;
      padding: 0.2em 0.2em 0.3em 0.2em;
      border: 2px solid $seemore-button-color;
      color: $seemore-button-color;
      border-radius: 100px;
      width: 6em;
      margin: 0 auto;
      text-align: center;

      &:hover {
        background-color: transparentize($seemore-button-color, 0.4);
        color: $dark-gray;
      }
    }
  }

  .device-text-align-right {
    @extend .device-text-align-left;
    h5 {
      @include media($medium-screen-up) {
        text-align: right;
      }
    }
    p {
      @include media($medium-screen-up) {
        text-align: right;
      }
    }
    a {
      @include media($medium-screen-up) {
        float: right;
        margin: 0;
      }
    }
  }

  .device-wrap {
    @include media($mobile) {
      @include span-columns(4);
    }
    @include media($medium-screen-up) {
      @include span-columns(2);
    }
    @include media($large-screen-up) {
      @include span-columns(4);
    }

    .device-align-right {
      @include media($medium-screen-up) {
        margin: -2em 0 0 0;
        float: right;
      }
      background: $device-bezel-color;
      border-radius: 1em;
      display: block;
      padding: $device-padding-vertical 0;
      width: $device-screen-width + (2 * $device-padding-horizontal);
      margin: 0 auto;
      box-shadow: 0px 3px 3px 0px darken($device-bezel-color, 20%);
    }

    .device-align-left {
      @extend .device-align-right;
      @include media($medium-screen-up) {
        margin: -2em 0 0 0;
        float: left;
      }
    }
  }

  .screen {
    @include size($device-screen-width $device-screen-height);
    background-size: cover;
    border: 1px solid $light-gray;
    margin: auto;
  }

  .screen-mesvaccins {
    @extend .screen;
    background-image: url($mesvaccins-screenshot);
  }

  .screen-buddybounce {
    @extend .screen;
    background-image: url($buddybounce-screenshot);
  }
}
