.profile-main {
  @include outer-container;
}

.profile-intro {
  margin: auto 20px;
  text-align: center;
  h6 {
    font-weight: 200;
  }
}

body {
  margin: 0;
  font-size: x-large;
}

@media (max-width: 1000px) {
  body { font-size: large; }
}

@media (max-width: 500px) {
  body { font-size: medium; }
}
