#main {
  @include outer-container;
}

.profile-intro {
  margin: auto 20px;
  text-align: center;
  h6 {
    font-weight: 200;
  }
}

ul {
  font-size: 1em;
  margin: .5em 0;
}

ol {
  font-size: 1em;
  font-weight: 500;

  li {
    margin: .5em 0;

    span {
      display: inline-block;

      &:before {
        content: '/';
        margin: 0 .3em;
      }
    }
  }
}

