.profile-wrap {
  @include outer-container;

  padding-top: 1.5em;

  .profile-pic {
    @include span-columns(2);
    @include media($mobile) {
      @include span-columns(4);
    }

    img {
      display:block;
      border-radius: 50%;
      margin: 0 auto;
      max-height: 5em;
    }
  }

  .profile-intro {
    @include span-columns(7);
    @include media($mobile) {
      @include span-columns(3);
      padding: 2em 0;
    }

    .wrap {
      padding: 0 1.5em;
      .text-wrap {
        padding: 0 0.5em;
        text-align: left;
        font-family: $sans-serif-light;
        border-left: 1px solid $base-accent-color;
        .subtitle {
          color: #BBBBBB;
          font-size:0.8em;
        }
      }
    }
  }

  .iphone-side-images {
    @include span-columns(3);
    @include media($mobile) {
      @include span-columns(1);
    }

    margin-top: -2em;
    padding-right: 1em;

    img {
      float: left;
      height: 20em;
    }
  }
}

body {
  margin: 0;
  font-size: large;
}

@media (max-width: 1000px) {
  body { font-size: 100%; }
}

@media (max-width: 500px) {
  body { font-size: 100%; }
}
