nav {
  border-bottom: 1px solid $base-border-color;
  margin: em(30) 0;

  ul {
    display: inline-block;
    margin-bottom: em(10);

    a {
      margin: 1rem;
      font-size: 13px;
      font-weight: 700;
      letterspacing: 4px;
      text-transform: uppercase;
    }
  }
}
