nav {
  @include outer-container;
  padding: 1rem 1rem 0 1rem;

  .logo {
    @include transition(background-color 0.1s linear);

    display: inline-block;
    margin: 0.5rem 0.5rem;
    border: 1px solid $hover-link-color;
    border-radius: 50%;
    text-align: center;
    line-height: 2.2em;
    color: $hover-link-color;
    text-align: center;
    height: 2.5em;
    width: 2.5em;

    &:hover {
      background-color: $hover-link-color;
      color: white;
    }
  }

  ul {
    display: inline-block;
    margin: 0.5rem 0 0.5rem 0;
    padding-bottom: 0.5rem;
    border-bottom: 1px solid $base-border-color;

    a.current-nav-tab {
      color: $hover-link-color;
    }

    a {
      padding: 1rem;
      font-size: 1em;
      text-transform: uppercase;
    }
  }
}
