nav {
  @include outer-container;
  padding: 0 1rem 0 1rem;

  ul {
    display: inline-block;
    margin: 0.5rem 0 0.5rem 0;
    padding-bottom: 0.5rem;
    border-bottom: 1px solid $base-border-color;

    a.current-nav-tab {
      color: $hover-link-color;
    }

    a {
      padding: 1rem;
      font-size: 1em;
      text-transform: uppercase;
    }
  }
}
