.screenshot-section-title {
  @include media($medium-screen-up) {
    margin-bottom: -1.5em;
  }
  @include outer-container;
  border-bottom: 1px solid $light-gray;
  font-size: $font-size-xlarge;
  font-weight: $font-weight-semi-bold;
  display: block;
  margin: 1.5em auto 1.5em;
  padding-bottom: 0.5em;
  text-align: center;
  text-transform: uppercase;
}

.screenshot-detail {
  @include outer-container;
  @include media($medium-screen-up) {
    margin: 6em auto 3.5em;
  }
  margin-bottom: 3.5em;
}

.screenshot-text-wrap {
  @include media($mobile) {
    @include span-columns(4);
  }
  @include media($medium-screen-up) {
    @include span-columns(2);
  }
  @include media($large-screen-up) {
    @include span-columns(4);
  }
  max-width: 30em;
  padding: 1em;
}

.screenshot-text-wrap.mod-shift-right-half {
  @include media($mobile) {
    @include span-columns(4);
  }
  @include media($medium-screen-up) {
    @include span-columns(2);
    @include shift(2);
  }
  @include media($large-screen-up) {
    @include span-columns(4);
    @include shift(4);
  }
}

.screenshot-title {
  border-bottom: 1px solid $light-gray;
  color: $dark-gray;
  font-size: $font-size-large;
  font-weight: 600;
  padding-bottom: 0.5em;
  text-align: left;
}

.screenshot-subtitle {
  color: $dark-gray;
  font-size: $font-size-small;
  text-align: left;
}

.screenshot-subtitle.mod-example {
  color: $medium-gray;
}
