.work-intro {
  @include outer-container;
  font-size: $font-size-xlarge;
  margin: 1.5em auto 2em;
  padding: 0 1em;
  text-align: center;
  @include media($medium-screen-up) {
    margin-bottom: 3em;
  }
}
