.work-intro {
  @include outer-container;
  margin: 1em auto;
  padding-left: 0.5em;
}

.work-intro-inner-border-wrap {
  border-left: 1px solid $base-accent-color;
  padding: 0 0.5em;
}

.work-intro-title-text {
  text-align: left;
}

.work-intro-subtitle-text {
  color: $dark-medium-gray;
  font-family: $sans-serif-light;
  font-size:0.9em;
  margin:0;
}
