<nav>
  <ul>
    <li>
      <%= link_to "Profile", "/index.html", { :class=>"current-nav-tab" } %>
      <%= link_to "Work", "/work/index.html" %>
      <%= link_to "Blog", "/blog/index.html" %>
    </li>
  </ul>
</nav>
