<div class="cs-app-intro">
  <div class="cs-app-intro-icon-wrap">
    <img class="cs-app-intro-icon" src="/assets/bb/buddybounce-icon.png" alt=""/>
  </div>
  <div class="cs-app-intro-text-wrap">
    <p class="cs-app-intro-text-title">Buddybounce</p>
    <p class="cs-app-intro-text-subtitle">(v1.0 on the Appstore)</p>
  </div>
</div>

<div class="cs-app-desc-wrap">
  <div class="cs-app-desc-border-wrap">
    <p class="cs-app-desc-title">Modern day fan club</p>
    <p class="cs-app-desc-subtitle">The Buddybounce app enables you to share and discover content around celebs that you follow on the Buddybounce platform.</p>
  </div>
</div>

<div class="cs-app-text-wrap">
  <div class="cs-app-text-title">How does it work ?</div>
  <p>The Buddybounce app uses the <a class="mod-buddybounce-link" href="http://www.buddybounce.com">buddybounce.com</a> platform to deliver content (photos, tweets, videos) relevant to the celebs you are interested in. It aggregates the entire fan experience (facebook, instagram, tumblr, twitter etc...) in a single place.</p>
</div>

<div class="cs-techdetails-wrap mod-buddybounce">
  <div class="cs-techdetails-text-wrap">
    <div class="cs-techdetails-title">Technical details</div>
    <p>Version 1.0 was written in Objective-C for iOS7+ using Xcode 6.</p>
    <p>The app consumes a JSON REST API. It was developed using TDD to ensure quality and stability.</p>
    <p>Beta testing was done using HockeyApp.</p>
    <ul class="cs-techdetails-tags">
      <li>Core Data</li>
      <li>Autolayout</li>
      <li>JSON</li>
      <li>HockeyApp</li>
      <li>Google analytics</li>
      <li>Kiwi testing framework</li>
      <li>REST API</li>
      <li>AFNetworking</li>
      <li>Core graphics</li>
    </ul>
  </div>
<
