<div class="cs-app-intro">
  <div class="cs-app-intro-icon-wrap">
    <img class="cs-app-intro-icon" src="/assets/bb/buddybounce-icon.png" alt=""/>
  </div>
  <div class="cs-app-intro-text-wrap">
    <p class="cs-app-intro-text-title">Buddybounce</p>
    <p class="cs-app-intro-text-subtitle"><a class="mod-buddybounce-link" href="https://itunes.apple.com/app/id923079544">(v1.0 on the Appstore)</a></p>
  </div>
</div>

<div class="cs-app-desc-wrap">
  <div class="cs-app-desc-border-wrap">
    <p class="cs-app-desc-title">Modern day fan club</p>
    <p class="cs-app-desc-subtitle">The Buddybounce app enables you to share and discover content around celebs that you follow on the Buddybounce platform.</p>
  </div>
</div>

<div class="cs-app-text-wrap">
  <div class="cs-app-text-title">
    How does it work ?
  </div>
  <div class="cs-app-text-subtitle">
    <p>The Buddybounce app uses the <a class="mod-buddybounce-link" href="http://www.buddybounce.com">buddybounce.com</a> platform to deliver content (photos, tweets, videos) relevant to the celebs you are interested in. It aggregates the entire fan experience (facebook, instagram, tumblr, twitter etc...) in a single place.</p>
  </div>
</div>

<div class="cs-techdetails-wrap mod-buddybounce">
  <div class="cs-techdetails-text-wrap">
    <div class="cs-techdetails-title">Technical details</div>
    <div class="cs-techdetails-subtitle">
      <p>I wrote this app in Objective-C for iOS7+ using Xcode 6.</p>
      <p>The app consumes a JSON REST API. It was developed using TDD to ensure quality and stability.</p>
      <p>Beta testing was done using HockeyApp.</p>
    </div>
    <ul class="cs-techdetails-tags">
      <li>Core Data</li>
      <li>Autolayout</li>
      <li>HockeyApp</li>
      <li>Google analytics</li>
      <li>Kiwi testing framework</li>
      <li>REST API</li>
      <li>AFNetworking</li>
      <li>Core graphics</li>
      <li>Facebook integration</li>
      <li>Twitter integration</li>
      <li>GCD</li>
      <li>Push notifications</li>
    </ul>
  </div>
</div>

<div style="clear: both;"> </div>

<div class="screenshot-section-title">Screenshots</div>

<div class="screenshot-detail">
  <div class="screenshot-text-wrap mod-shift-right-half">
    <p class="screenshot-title">
      Favorite celebs
    </p>
    <p class="screenshot-subtitle">
      Manage all your favorite celebs
    </p>
  </div>
  <div class="iphone5-wrap mod-shift-left-half">
    <div class="iphone5 mod-align-left">
      <div class="screen">
        <img src="/assets/bb/screenshots/my-celebs-screenshot.png" alt="" />
      </div>
    </div>
  </div>
</div>

<div class="screenshot-detail">
  <div class="screenshot-text-wrap mod-shift-right-half">
    <p class="screenshot-title">
      Celeb info
    </p>
    <p class="screenshot-subtitle">
      Get news relevant to your favorite celebs
    </p>
  </div>
  <div class="iphone5-wrap mod-shift-left-half">
    <div class="iphone5 mod-align-left">
      <div class="screen">
        <img src="/assets/bb/screenshots/celeb-detail-screenshot.png" alt="" />
      </div>
    </div>
  </div>
</div>

<div class="screenshot-detail">
  <div class="screenshot-text-wrap mod-shift-right-half">
    <p class="screenshot-title">
      User posts
    </p>
    <p class="screenshot-subtitle">
      Read posts from users in the Buddybounce community
    </p>
  </div>
  <div class="iphone5-wrap mod-shift-left-half">
    <div class="iphone5 mod-align-left">
      <div class="screen">
        <img src="/assets/bb/screenshots/post-detail-screenshot.png" alt="" />
      </div>
    </div>
  </div>
</div>

<div class="screenshot-detail">
  <div class="screenshot-text-wrap mod-shift-right-half">
    <p class="screenshot-title">Push notifications</p>
    <p class="screenshot-subtitle">
      Be notified of all activity on your buddybounce account
    </p>
  </div>
  <div class="iphone5-wrap mod-shift-left-half">
    <div class="iphone5 mod-align-left">
      <div class="screen">
        <img src="/assets/bb/screenshots/push-notification-screenshot.png" alt="" />
      </div>
    </div>
  </div>
</div>

<%= link_to "Back to case studies", "/work", { :class=>"case-studies-link" } %>
