<div class=work-intro>
  <div class="work-intro-inner-border-wrap">
    <p class="work-intro-title-text"> Selected work</p>
    <p class="work-intro-subtitle-text">Some of the apps I've developed !</p>
  </div>
</div>

<div class="case-study mod-buddybounce">
  <div class="case-study-text-wrap">
    <p class="case-study-title mod-align-right">Buddybounce</p>
    <p class="case-study-subtitle mod-align-right">Modern day fan club<br>for fans of musicians.</p>
    <%= link_to "See more", "/work/buddybounce", { :class=>"case-study-link mod-align-right" } %>
  </div>
  <div class="iphone5-wrap">
    <div class="iphone5 mod-align-left">
      <div class="screen mod-buddybounce"></div>
    </div>
  </div>
</div>

<div class="case-study mod-mesvaccins">
  <div class="case-study-text-wrap mod-shift-right-half">
    <p class="case-study-title mod-align-left">MesVaccins</p>
    <p class="case-study-subtitle mod-align-left">A smart immunisation record.<br>Are you up to date with your vaccinations ?</p>
    <%= link_to "See more", "/work/mesvaccins", { :class=>"case-study-link mod-align-left"}%>
  </div>
  <div class="iphone5-wrap mod-shift-left-half">
    <div class="iphone5 mod-align-right">
      <div class="screen mod-mesvaccins"></div>
    </div>
  </div>
</div>
