<nav>
  <%= link_to "pH", "/index.html", { :class=>"logo" } %>
  <ul>
      <%= link_to "Profile", "/index.html" %>
      <%= link_to "Work", "/work/index.html", { :class=>"current-nav-tab" } %>
      <%= link_to "Blog", "/blog/index.html" %>
  </ul>
</nav>

<div class=work-wrap>
  <p>This part is currently being built. It is meant to showcase some of my work.</p>
  <p><br></p>
  <p><br></p>
</div>

<div class="device-background">
  <div class="device-text">
    <h4>Buddybounce</h4>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos, recusandae? Deserunt repellendus.</p>
    <!-- <button>Learn More</button> -->
  </div>
  <div class="device">
    <div class="screen"></div>
  </div>
</div>

