<div class="cs-app-intro">
  <div class="cs-app-intro-icon-wrap">
    <img class="cs-app-intro-icon" src="/assets/mv/mesvaccins-icon.png" alt=""/>
  </div>
  <div class="cs-app-intro-text-wrap">
    <p class="cs-app-intro-text-title">MesVaccins</p>
    <p class="cs-app-intro-text-subtitle">(v2.0 currently waiting for review)</p>
  </div>
</div>

<div class="cs-app-desc-wrap">
  <div class="cs-app-desc-border-wrap">
    <p class="cs-app-desc-title">A smart immunisation record</p>
    <p class="cs-app-desc-subtitle">The MesVaccins app makes sure that you are properly protected against vaccine preventable diseases.</p>
  </div>
</div>

<div class="cs-app-text-wrap">
  <div class="cs-app-text-title">
    How does it work ?
  </div>
  <div class="cs-app-text-subtitle">
    <p>The MesVaccins app interacts with the <a class="mod-mesvaccins-link" href="http://www.mesvaccins.net">mesvaccins.net</a>  platform to deliver personalised vaccine recommendations tailored for you. It uses an expert system that computes these recommendations according to rules established by the French government.</p>
    <p>It also enables you to anonymously store your vaccinations and share them with healthcare professionals.</p>
    <p>Originally developed for iOS5+ in 2012, the app saw a complete overhaul for iOS7+ in early 2015 with version 2.0. The app is only in french for the time being.</p>
  </div>
</div>

<div style="clear: both;"></div>
<div class="screenshot-section-title">Screenshots</div>

<div class="screenshot-detail">
  <div class="screenshot-text-wrap mod-shift-right-half">
    <p class="screenshot-title">
      Storing your vaccinations
    </p>
    <p class="screenshot-subtitle">
      Never lose your vaccinations again !
    </p>
  </div>
  <div class="iphone5-wrap mod-shift-left-half">
    <div class="iphone5 mod-align-left">
      <div class="screen">
        <img src="/assets/mv/vaccinations-screenshot.jpg" alt="" />
      </div>
    </div>
  </div>
</div>

<div class="screenshot-detail">
  <div class="screenshot-text-wrap mod-shift-right-half">
    <p class="screenshot-title">
      Vaccine search engine
    </p>
    <p class="screenshot-subtitle">
      Easily search through MesVaccins’ vaccine database to enter your immunisation record.
    </p>
  </div>
  <div class="iphone5-wrap mod-shift-left-half">
    <div class="iphone5 mod-align-left">
      <div class="screen">
        <img src="/assets/mv/vaccine-search-screenshot.jpg" alt="" />
      </div>
    </div>
  </div>
</div>

<div class="screenshot-detail">
  <div class="screenshot-text-wrap mod-shift-right-half">
    <p class="screenshot-title">
      Vaccine protection assessment
    </p>
    <p class="screenshot-subtitle">
      MesVaccins’s expert system computes which diseases you should be vaccinated against.
    </p>
  </div>
  <div class="iphone5-wrap mod-shift-left-half">
    <div class="iphone5 mod-align-left">
      <div class="screen">
        <img src="/assets/mv/assessment-screenshot.jpg" alt="" />
      </div>
    </div>
  </div>
</div>

<div class="screenshot-detail">
  <div class="screenshot-text-wrap mod-shift-right-half">
    <p class="screenshot-title">Health profile form</p>
    <p class="screenshot-subtitle">
      A health profile form is generated according to gender and age.
    </p>
    <p class="screenshot-subtitle">
      It helps define precise vaccine recommendations by gathering relevant data from your medical history or environment.
    </p>
    <p class="screenshot-subtitle mod-example">
      For instance, if you’ve had chickenpox before, you don’t need the chickenpox vaccine.
    </p>
  </div>
  <div class="iphone5-wrap mod-shift-left-half">
    <div class="iphone5 mod-align-left">
      <div class="screen">
        <img src="/assets/mv/health-profile-screenshot.jpg" alt="" />
      </div>
    </div>
  </div>
</div>

<div class="cs-techdetails-wrap">
  <div class="cs-techdetails-text-wrap">
    <div class="cs-techdetails-title">Technical details</div>
    <div class="cs-techdetails-subtitle">
      <p>Version 2.0 was written in Objective-C for iOS7+ using Xcode 6.</p>
      <p>It was built using the <a class="mod-mesvaccins-techdetails-link" href="http://www.objc.io/issue-13/viper.html">VIPER architecture</a> for cleanliness, testability and reusability of the code.</p>
      <p>The app consumes a JSON REST API.</p>
      <p>Beta testing was done using HockeyApp.</p>
    </div>
    <ul class="cs-techdetails-tags">
      <li>Core Data</li>
      <li>Autolayout</li>
      <li>VIPER</li>
      <li>HockeyApp</li>
      <li>REST API</li>
      <li>JSON</li>
      <li>Kiwi testing framework</li>
    </ul>
  </div>
</div>
