<nav>
  <%= link_to "pH", "/index.html", { :class=>"logo" } %>
  <ul>
      <%= link_to "Profile", "/index.html", { :class=>"current-nav-tab" } %>
      <%= link_to "Work", "/work/index.html" %>
      <%= link_to "Blog", "/blog/index.html" %>
  </ul>
</nav>

<div class=profile-wrap>
  <div class=profile-pic>
    <img src="https://pbs.twimg.com/profile_images/445828601582075904/jwg-lMwI.jpeg" alt="Profile picture">
  </div>
  <div class=profile-intro>
    <div class=wrap>
      <div class=text-wrap>
        <p>Hello, I'm Paul-Henri.
          <br>An iOS developer.</p>
        <p class=subtitle>Currently available for contract work
          <br>phkoeck@gmail.com</p>
      </div>
    </div>
  </div>
  <div class=iphone-side-images>
    <img src="../assets/iphone-side-images.png" alt="iPhone side view">
  </div>
</div>
