<div class="profile-wrap">
  <div class="profile-pic-wrap">
    <img class="profile-pic" src="https://avatars3.githubusercontent.com/u/1695036?v=3&s=460" alt="Profile picture">
  </div>
  <div class="profile-text-wrap">
    <p class="profile-text-title">Hello ! I'm Paul-Henri,<br>an iOS developer.</p>
    <%= link_to "View my work", "/work", { :class=>"profile-text-link" } %>
    <p class="profile-text-subtitle">phkoeck@gmail.com<br>
    <%= link_to "Download my CV", "/assets/CV.pdf", { :class=>"profile-text-cv-link" } %>
</p>
  </div>
  <!-- <div class=profile&#45;iphone&#45;image&#45;wrap> -->
  <!--   <img src="../assets/iphone&#45;side&#45;images.png" alt="iPhone side view"> -->
  <!-- </div> -->
</div>
